@model PaymentSystem.Models.RegisterModel

@{
    ViewData["Title"] = "Sign Up";
}

<div class="d-flex justify-content-center" style="margin-top: 80px">
    <div class="col-sm-5">
        <div style="text-align: center;">
            <h3>Sign Up</h3>
        </div>
        <form class="d-flex flex-column" method="post" asp-controller="Auth" asp-action="Register">
            <input 
                type="text" required placeholder="First name" name="FirstName" style="margin: 5px 0; height: 40px;"
            />
            <input 
                type="text" required placeholder="Last name" name="LastName" style="margin: 5px 0; height: 40px;"
            />
            <input 
                type="email" required placeholder="Email" name="Email" style="margin: 5px 0; height: 40px;"
            />
            <input 
                type="password" required placeholder="Password" name="Password" style="margin: 5px 0; height: 40px;"
            />
            <input 
                type="password" required placeholder="Confirm password" name="ConfirmPassword" style="margin: 5px 0; height: 40px;"
            />
            <button class="btn btn-primary" style="margin: 5px 0; height: 40px;">
                Sign Up
            </button>          
        </form>
    </div>
</div>