version: '3.7'
services:
    postgres:
        image: postgres:latest
        restart: always
        environment:
          - POSTGRES_USER=user
          - POSTGRES_PASSWORD=1234
        logging:
          options:
            max-size: 10m
            max-file: "3"
        ports:
          - '5438:5432'
        volumes: 
          - ./postgres-data:/var/lib/postgresql/data
          - ./sql/create_database.sql:/docker-entrypoint-initdb.d/create_database.sql